body
{
	background-color: #000;
	color: #fff;
	font-family: monospace;
	padding: 20px;
}
#console
{
	padding: 10px;
	height: device-height;
	overflow-y: auto;
}
.input-container
{
	display: flex;
	align-items: center;
}
.input-container::before
{
	content: '>';
	margin-right: 5px;
}
#input
{
	width: 100%;
	background: none;
	border: none;
	color: #fff;
	font-family: monospace;
	outline: none;
	padding: 0px;
	cursor: default;
}